.segmentedItem {
    border-radius: 16px;
    text-align: center;
    color: var(--g-color-text-hint);
    height: 40px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    gap: 6px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.1s ease-in-out;

    &:hover {
        color: var(--g-color-base-brand);
    }
}

.segmentedItemFilledActive {
    color: var(--g-color-text-brand-contrast);
    background: var(--g-color-base-brand);

    &:hover {
        color: var(--g-color-text-brand-contrast);
    }
}

.segmentedItemOutlineActive {
    color: var(--g-color-base-brand);
    border-color: var(--g-color-base-brand);
    background: var(--g-color-base-info-light);
}
