.annotations {
    width: 300px;
    top: 6px;
    right: 6px;
    z-index: 100;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 26px;
    overflow: auto;
}

.annotation {
    padding: 16px;
    background: var(--g-color-base-selection);
    padding: 10px 12px;
    border-radius: 8px;
}