@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

@import '@gravity-ui/illustrations/styles/styles.scss';
@import "@gravity-ui/uikit/styles/styles.css";

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

html,
body,
#__next {
    min-width: 320px;
    margin: 0;
}

.g-segmented-radio-group {
    border-radius: var(--_--border-radius);
    background-color: var(--g-color-base-generic);
}

.g-segmented-radio-group__option_checked:after {
    background-color: var(--g-color-base-background);
    border: 0;
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
}

.g-segmented-radio-group__option:not(.g-segmented-radio-group__option_checked):not(.g-segmented-radio-group__option_disabled):hover:after {
    background-color: transparent;
}

.g-segmented-radio-group__option {
    border: 0;
}

.g-segmented-radio-group__option:before {
    background: transparent;
}

.g-segmented-radio-group__option:after {
    border-color: transparent;
    --__--border-radius-option: var(--_--border-radius);
    border-radius: var(--__--border-radius-option);
    border-start-end-radius: var(--__--border-radius-option);
    border-end-end-radius: var(--__--border-radius-option);
    border-start-start-radius: var(--__--border-radius-option);
    border-end-start-radius: var(--__--border-radius-option);
}

.g-segmented-radio-group__option_checked .g-segmented-radio-group__option-text {
    color: var(--g-color-text-primary);
}

.g-text__expand {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;
}

.g-table__table {
    width: 100%;
}

.g-label__content {
    display: flex;
    align-items: center;
    gap: 6px;
}

.gn-composite-bar__root-menu-item {
    margin: 0 10px 3px 10px;
    border-radius: 8px;
}

.gn-aside-header_compact .gn-composite-bar__root-menu-item {
    margin: 0 0 3px 0;
}

.gn-action-bar-section_type_secondary {
    margin-right: 14px;
}

.gn-aside-header__pane-container {
    overflow: auto;
}

.gn-aside-header__content {
    overflow: auto;
    height: 100%;
}

.gn-aside-header {
    scrollbar-color: transparent;
}

.g-root {
    --gil-color-object-base: var(--g-color-private-brand-450-solid);
    --gil-color-object-accent-heavy: #fff;
    --gil-color-object-hightlight: var(--g-color-private-brand-550-solid);
    --gil-color-shadow-over-object: rgb(211, 158, 80);
    --gil-color-background-lines: rgb(140, 140, 140);
    --gil-color-object-danger: rgb(255, 0, 61);

    --g-text-body-1-font-size: 14px;
    --g-text-body-1-line-height: 19px;
    --g-text-body-2-font-size: 16px;
    --g-text-body-2-line-height: 21px;
    --g-text-body-3-font-size: 18px;
    --g-text-body-3-line-height: 25px;
    --g-text-body-short-font-size: 14px;
    --g-text-body-short-line-height: 17px;
    --g-text-caption-1-font-size: 10px;
    --g-text-caption-1-line-height: 13px;
    --g-text-caption-2-font-size: 12px;
    --g-text-caption-2-line-height: 17px;
    --g-text-header-1-font-size: 21px;
    --g-text-header-1-line-height: 25px;
    --g-text-header-2-font-size: 25px;
    --g-text-header-2-line-height: 29px;
    --g-text-subheader-1-font-size: 14px;
    --g-text-subheader-1-line-height: 19px;
    --g-text-subheader-2-font-size: 16px;
    --g-text-subheader-2-line-height: 21px;
    --g-text-subheader-3-font-size: 18px;
    --g-text-subheader-3-line-height: 25px;
    --g-text-display-1-font-size: 29px;
    --g-text-display-1-line-height: 37px;
    --g-text-display-2-font-size: 33px;
    --g-text-display-2-line-height: 41px;
    --g-text-display-3-font-size: 41px;
    --g-text-display-3-line-height: 49px;
    --g-text-display-4-font-size: 49px;
    --g-text-display-4-line-height: 53px;
    --g-text-code-1-font-size: 13px;
    --g-text-code-1-line-height: 19px;
    --g-text-code-2-font-size: 15px;

    --gn-aside-header-item-expanded-radius: var(--g-border-radius-m);

    --g-card-border-radius: var(--g-border-radius-m);

    --g-border-radius-xs: 10px;
    --g-border-radius-s: 12px;
    --g-border-radius-m: 14px;
    --g-border-radius-l: 18px;
    --g-border-radius-xl: 22px;

    --g-font-family-sans: 'Jost';
    --g-font-family-monospace: 'Jost';

    --g-list-item-padding: 0 6px;
}

.g-root_theme_light {
    --g-color-private-orange-1000-solid: rgb(43 24 8);
    --g-color-private-orange-950-solid: rgb(56 29 7);
    --g-color-private-orange-900-solid: rgb(81 41 6);
    --g-color-private-orange-850-solid: rgb(106 52 5);
    --g-color-private-orange-800-solid: rgb(131 63 5);
    --g-color-private-orange-750-solid: rgb(155 74 4);
    --g-color-private-orange-700-solid: rgb(180 85 3);
    --g-color-private-orange-650-solid: rgb(205 97 2);
    --g-color-private-orange-600-solid: rgb(230 108 1);

    --g-color-private-green-1000-solid: rgb(13 34 25);
    --g-color-private-green-950-solid: rgb(15 43 31);
    --g-color-private-green-900-solid: rgb(19 61 42);
    --g-color-private-green-850-solid: rgb(24 79 53);
    --g-color-private-green-800-solid: rgb(28 97 64);
    --g-color-private-green-750-solid: rgb(32 114 74);
    --g-color-private-green-700-solid: rgb(37 132 85);
    --g-color-private-green-650-solid: rgb(41 150 96);
    --g-color-private-green-600-solid: rgb(46 168 107);

    --g-color-private-yellow-1000-solid: rgb(43 34 21);
    --g-color-private-yellow-950-solid: rgb(56 44 26);
    --g-color-private-yellow-900-solid: rgb(81 62 34);
    --g-color-private-yellow-850-solid: rgb(106 80 42);
    --g-color-private-yellow-800-solid: rgb(131 99 51);
    --g-color-private-yellow-750-solid: rgb(155 117 59);
    --g-color-private-yellow-700-solid: rgb(180 135 67);
    --g-color-private-yellow-650-solid: rgb(205 153 75);
    --g-color-private-yellow-600-solid: rgb(230 172 84);

    --g-color-private-red-1000-solid: rgb(43 6 17);
    --g-color-private-red-950-solid: rgb(56 6 19);
    --g-color-private-red-900-solid: rgb(81 5 25);
    --g-color-private-red-850-solid: rgb(106 4 30);
    --g-color-private-red-800-solid: rgb(131 4 35);
    --g-color-private-red-750-solid: rgb(155 3 40);
    --g-color-private-red-700-solid: rgb(180 2 45);
    --g-color-private-red-650-solid: rgb(205 1 51);
    --g-color-private-red-600-solid: rgb(230 1 56);

    --g-color-private-blue-1000-solid: rgb(13 29 44);
    --g-color-private-blue-950-solid: rgb(16 36 55);
    --g-color-private-blue-900-solid: rgb(20 50 79);
    --g-color-private-blue-850-solid: rgb(25 65 102);
    --g-color-private-blue-800-solid: rgb(30 79 125);
    --g-color-private-blue-750-solid: rgb(35 93 148);
    --g-color-private-blue-700-solid: rgb(40 108 171);
    --g-color-private-blue-650-solid: rgb(44 122 195);
    --g-color-private-blue-600-solid: rgb(49 137 218);

    --g-color-private-cool-grey-1000-solid: rgb(21 26 31);
    --g-color-private-cool-grey-950-solid: rgb(26 32 38);
    --g-color-private-cool-grey-900-solid: rgb(36 45 52);
    --g-color-private-cool-grey-850-solid: rgb(46 57 67);
    --g-color-private-cool-grey-800-solid: rgb(57 70 81);
    --g-color-private-cool-grey-750-solid: rgb(67 82 95);
    --g-color-private-cool-grey-700-solid: rgb(77 95 110);
    --g-color-private-cool-grey-650-solid: rgb(87 107 124);
    --g-color-private-cool-grey-600-solid: rgb(97 120 139);

    --g-color-private-purple-1000-solid: rgb(27 18 38);
    --g-color-private-purple-950-solid: rgb(33 22 48);
    --g-color-private-purple-900-solid: rgb(47 30 68);
    --g-color-private-purple-850-solid: rgb(61 37 87);
    --g-color-private-purple-800-solid: rgb(75 45 107);
    --g-color-private-purple-750-solid: rgb(88 52 126);
    --g-color-private-purple-700-solid: rgb(102 60 146);
    --g-color-private-purple-650-solid: rgb(116 67 165);
    --g-color-private-purple-600-solid: rgb(129 75 185);

    --g-color-private-brand-50: rgb(0 197 109 / 0.1);
    --g-color-private-brand-100: rgb(0 197 109 / 0.15);
    --g-color-private-brand-150: rgb(0 197 109 / 0.2);
    --g-color-private-brand-200: rgb(0 197 109 / 0.3);
    --g-color-private-brand-250: rgb(0 197 109 / 0.4);
    --g-color-private-brand-300: rgb(0 197 109 / 0.5);
    --g-color-private-brand-350: rgb(0 197 109 / 0.6);
    --g-color-private-brand-400: rgb(0 197 109 / 0.7);
    --g-color-private-brand-450: rgb(0 197 109 / 0.8);
    --g-color-private-brand-500: rgb(0 197 109 / 0.9);
    --g-color-private-brand-550: rgb(0 197 109);
    --g-color-private-brand-550-solid: rgb(0 197 109);
    --g-color-private-brand-1000-solid: rgb(5 36 24);
    --g-color-private-brand-950-solid: rgb(5 45 29);
    --g-color-private-brand-900-solid: rgb(4 64 39);
    --g-color-private-brand-850-solid: rgb(4 83 49);
    --g-color-private-brand-800-solid: rgb(3 102 59);
    --g-color-private-brand-750-solid: rgb(2 121 69);
    --g-color-private-brand-700-solid: rgb(2 140 79);
    --g-color-private-brand-650-solid: rgb(1 159 89);
    --g-color-private-brand-600-solid: rgb(1 178 99);
    --g-color-private-brand-500-solid: rgb(25 203 124);
    --g-color-private-brand-450-solid: rgb(51 209 138);
    --g-color-private-brand-400-solid: rgb(77 214 153);
    --g-color-private-brand-350-solid: rgb(102 220 167);
    --g-color-private-brand-300-solid: rgb(128 226 182);
    --g-color-private-brand-250-solid: rgb(153 232 197);
    --g-color-private-brand-200-solid: rgb(179 238 211);
    --g-color-private-brand-150-solid: rgb(204 243 226);
    --g-color-private-brand-100-solid: rgb(217 246 233);
    --g-color-private-brand-50-solid: rgb(230 249 240);

    --g-color-text-brand: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-link: var(--g-color-private-brand-600-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
    --g-color-base-background: rgb(255, 255, 255);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
    --g-color-base-selection: var(--g-color-private-brand-200);
    --g-color-base-selection-hover: var(--g-color-private-brand-300);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}

.g-root_theme_dark {
    --g-color-base-generic: #101214;
    --g-card-border-width: 1px;
    --g-card-border-color: #1e2022;
    --g-color-base-positive-light: #0e241d;
    --gn-aside-header-item-current-text-color: var(--g-color-base-brand);
    --gn-aside-header-item-current-icon-color: var(--g-color-base-brand);
    --gn-aside-header-expanded-background-color: rgb(10 10 10);
    --g-text-input-background-color: #151618;
    --g-text-input-border-color: #1e2022;
    --g-text-area-background-color: #151618;
    --g-text-area-border-color: #1e2022;

    .g-table__sort-content {
        svg {
            color: var(--g-color-text-secondary);
        }
    }

    .g-table__table {
        border: 1px solid #1e2022;
        border-radius: var(--g-border-radius-m);
        background: rgb(10 10 10);
    }

    --g-color-private-white-950-solid: rgb(243 243 243);
    --g-color-private-white-900-solid: rgb(230 230 230);
    --g-color-private-white-850-solid: rgb(218 218 218);
    --g-color-private-white-800-solid: rgb(205 205 206);
    --g-color-private-white-750-solid: rgb(193 193 194);
    --g-color-private-white-700-solid: rgb(180 181 181);
    --g-color-private-white-650-solid: rgb(168 168 169);
    --g-color-private-white-600-solid: rgb(155 156 157);
    --g-color-private-white-550-solid: rgb(143 143 144);
    --g-color-private-white-500-solid: rgb(131 131 132);
    --g-color-private-white-450-solid: rgb(118 119 120);
    --g-color-private-white-400-solid: rgb(106 106 107);
    --g-color-private-white-350-solid: rgb(93 94 95);
    --g-color-private-white-300-solid: rgb(81 81 83);
    --g-color-private-white-250-solid: rgb(68 69 71);
    --g-color-private-white-200-solid: rgb(56 57 58);
    --g-color-private-white-150-solid: rgb(43 44 46);
    --g-color-private-white-100-solid: rgb(31 32 34);
    --g-color-private-white-50-solid: rgb(18 19 21);
    --g-color-private-white-70-solid: rgb(23 24 26);
    --g-color-private-white-20-solid: rgb(11 12 14);
    --g-color-private-white-opaque-150: rgb(43 44 46 / 0.95);

    --g-color-private-orange-500-solid: rgb(181 90 12);
    --g-color-private-orange-450-solid: rgb(161 81 11);
    --g-color-private-orange-400-solid: rgb(142 71 11);
    --g-color-private-orange-350-solid: rgb(122 62 11);
    --g-color-private-orange-300-solid: rgb(103 53 11);
    --g-color-private-orange-250-solid: rgb(84 44 10);
    --g-color-private-orange-200-solid: rgb(64 35 10);
    --g-color-private-orange-150-solid: rgb(45 25 10);
    --g-color-private-orange-100-solid: rgb(35 21 9);
    --g-color-private-orange-50-solid: rgb(25 16 9);

    --g-color-private-green-500-solid: rgb(70 159 140);
    --g-color-private-green-450-solid: rgb(63 142 126);
    --g-color-private-green-400-solid: rgb(56 125 111);
    --g-color-private-green-350-solid: rgb(49 108 97);
    --g-color-private-green-300-solid: rgb(42 92 82);
    --g-color-private-green-250-solid: rgb(34 75 67);
    --g-color-private-green-200-solid: rgb(27 58 53);
    --g-color-private-green-150-solid: rgb(20 41 38);
    --g-color-private-green-100-solid: rgb(17 32 31);
    --g-color-private-green-50-solid: rgb(13 24 24);

    --g-color-private-yellow-500-solid: rgb(230 172 84);
    --g-color-private-yellow-450-solid: rgb(205 153 75);
    --g-color-private-yellow-400-solid: rgb(180 135 67);
    --g-color-private-yellow-350-solid: rgb(155 117 59);
    --g-color-private-yellow-300-solid: rgb(131 99 51);
    --g-color-private-yellow-250-solid: rgb(106 80 42);
    --g-color-private-yellow-200-solid: rgb(81 62 34);
    --g-color-private-yellow-150-solid: rgb(56 44 26);
    --g-color-private-yellow-100-solid: rgb(43 34 21);
    --g-color-private-yellow-50-solid: rgb(31 25 17);

    --g-color-private-red-500-solid: rgb(207 46 85);
    --g-color-private-red-450-solid: rgb(184 41 76);
    --g-color-private-red-400-solid: rgb(162 37 68);
    --g-color-private-red-350-solid: rgb(140 33 59);
    --g-color-private-red-300-solid: rgb(118 29 51);
    --g-color-private-red-250-solid: rgb(95 24 43);
    --g-color-private-red-200-solid: rgb(73 20 34);
    --g-color-private-red-150-solid: rgb(51 16 26);
    --g-color-private-red-100-solid: rgb(39 13 22);
    --g-color-private-red-50-solid: rgb(28 11 17);

    --g-color-private-blue-500-solid: rgb(49 137 218);
    --g-color-private-blue-450-solid: rgb(44 122 195);
    --g-color-private-blue-400-solid: rgb(40 108 171);
    --g-color-private-blue-350-solid: rgb(35 93 148);
    --g-color-private-blue-300-solid: rgb(30 79 125);
    --g-color-private-blue-250-solid: rgb(25 65 102);
    --g-color-private-blue-200-solid: rgb(20 50 79);
    --g-color-private-blue-150-solid: rgb(16 36 55);
    --g-color-private-blue-100-solid: rgb(13 29 44);
    --g-color-private-blue-50-solid: rgb(11 21 32);

    --g-color-private-cool-grey-500-solid: rgb(87 116 141);
    --g-color-private-cool-grey-450-solid: rgb(78 104 127);
    --g-color-private-cool-grey-400-solid: rgb(69 92 112);
    --g-color-private-cool-grey-350-solid: rgb(60 80 97);
    --g-color-private-cool-grey-300-solid: rgb(51 68 83);
    --g-color-private-cool-grey-250-solid: rgb(42 55 68);
    --g-color-private-cool-grey-200-solid: rgb(33 43 53);
    --g-color-private-cool-grey-150-solid: rgb(24 31 38);
    --g-color-private-cool-grey-100-solid: rgb(20 25 31);
    --g-color-private-cool-grey-50-solid: rgb(15 19 24);

    --g-color-private-purple-500-solid: rgb(129 75 185);
    --g-color-private-purple-450-solid: rgb(116 67 165);
    --g-color-private-purple-400-solid: rgb(102 60 146);
    --g-color-private-purple-350-solid: rgb(88 52 126);
    --g-color-private-purple-300-solid: rgb(75 45 107);
    --g-color-private-purple-250-solid: rgb(61 37 87);
    --g-color-private-purple-200-solid: rgb(47 30 68);
    --g-color-private-purple-150-solid: rgb(33 22 48);
    --g-color-private-purple-100-solid: rgb(27 18 38);
    --g-color-private-purple-50-solid: rgb(20 15 29);

    --g-color-private-brand-50: rgb(0 197 109 / 0.1);
    --g-color-private-brand-100: rgb(0 197 109 / 0.15);
    --g-color-private-brand-150: rgb(0 197 109 / 0.2);
    --g-color-private-brand-200: rgb(0 197 109 / 0.3);
    --g-color-private-brand-250: rgb(0 197 109 / 0.4);
    --g-color-private-brand-300: rgb(0 197 109 / 0.5);
    --g-color-private-brand-350: rgb(0 197 109 / 0.6);
    --g-color-private-brand-400: rgb(0 197 109 / 0.7);
    --g-color-private-brand-450: rgb(0 197 109 / 0.8);
    --g-color-private-brand-500: rgb(0 197 109 / 0.9);
    --g-color-private-brand-550: rgb(0 197 109);
    --g-color-private-brand-550-solid: rgb(0 197 109);
    --g-color-private-brand-1000-solid: rgb(217 246 233);
    --g-color-private-brand-950-solid: rgb(204 243 226);
    --g-color-private-brand-900-solid: rgb(179 238 211);
    --g-color-private-brand-850-solid: rgb(153 232 197);
    --g-color-private-brand-800-solid: rgb(128 226 182);
    --g-color-private-brand-750-solid: rgb(102 220 167);
    --g-color-private-brand-700-solid: rgb(77 214 153);
    --g-color-private-brand-650-solid: rgb(51 209 138);
    --g-color-private-brand-600-solid: rgb(25 203 124);
    --g-color-private-brand-500-solid: rgb(1 178 99);
    --g-color-private-brand-450-solid: rgb(1 159 89);
    --g-color-private-brand-400-solid: rgb(2 140 79);
    --g-color-private-brand-350-solid: rgb(2 121 69);
    --g-color-private-brand-300-solid: rgb(3 102 59);
    --g-color-private-brand-250-solid: rgb(4 83 49);
    --g-color-private-brand-200-solid: rgb(4 64 39);
    --g-color-private-brand-150-solid: rgb(5 45 29);
    --g-color-private-brand-100-solid: rgb(5 36 24);
    --g-color-private-brand-50-solid: rgb(5 26 19);

    --g-color-text-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: var(--g-color-text-dark-primary);
    --g-color-text-link: var(--g-color-private-brand-550-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
    --g-color-base-background: rgb(6 7 9);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
    --g-color-base-selection: var(--g-color-private-brand-150);
    --g-color-base-selection-hover: var(--g-color-private-brand-200);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}