.annotationConter {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    height: 89dvh;
    width: auto;

}

.annotationBlocker {
    background: var(--g-color-base-generic);
    position: relative;
    overflow: hidden;
    padding: 6px;
    width: 100%;
    display: flex;
    border-radius: 30px;
    justify-content: center;
}

.annotationRelative {
    position: relative
}

.annotationAsset {
    max-width: 650;
    display: block;
    pointer-events: none;
}

.annotationCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}