.modelCard {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.1s linear;

    &:hover {
        cursor: pointer;
        border-color: var(--g-color-text-brand);
    }
}

.modelCardIcon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--g-border-radius-s);
    background: var(--g-color-base-positive-light);
    color: var(--g-color-text-brand);
}

.modelCardGrid {
    background: #151618;
    border-radius: var(--g-border-radius-s);
    padding: 12px;
}